@font-face {
    font-family: Manteka;
    src: url("manteka.ttf"); }

.formBox{
  min-width: 600px;
  height: 300px;
  margin-left: 210px;
  margin-top: 500px;
  margin-right: 500px;
  padding: 50px;
  padding-right: 1px;
  background-color: rgba(38, 65, 65, 0.19);
}

.inputField{
  width: 500px;
  margin-bottom: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  font-family: Manteka, serif;
  font-size: 50px;
  background-color: rgba(38, 65, 65, 0.06);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000000;
}

.button{
  font-family: Manteka, serif;
  font-size: 50px;
  background-color: #77c9c9;
  border: none;
  min-width: 200px;
  border-radius: 5px;
}
