@font-face {
    font-family: Manteka;
    src: url("manteka.ttf"); }

#notice {
  margin-top: 20vh;
}

#notice p{
  font-size: 50px;
  text-align: center;
  color: #ff9c8b;
  height: 5vh;
}

#login {
  margin-top: 5vh;
}

#login p {
  text-align: center;
}

#login p a {
  color: #77c9c9;
  font-size: 50px;
}

#registerForm{
  margin-left: 230px;
  margin-top: 5vh;

}

.inputField{
  width: 500px;
  margin-bottom: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  font-family: Manteka, serif;
  font-size: 50px;
}

#registerButton{
  font-family: Manteka, serif;
  font-size: 50px;
  background-color: #FFFFFF;
  border: none;
}
