@font-face {
    font-family: Manteka;
    src: url("manteka.ttf"); }


.formBox {
  padding: 50px;
  background-color: rgba(38, 65, 65, 0.19);
}

#notice {
  margin-top: 15vh;
}

#notice p{
  font-size: 50px;
  text-align: center;
  color: #ff9c8b;
  height: 5vh;
}

#login {
  margin-top: 5vh;
}

#login p {
  text-align: center;
}

#login p a {
  color: #77c9c9;
  font-size: 50px;
}

.form{
  margin-left: 230px;
  margin-top: 5vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.inputField{
  height: 5vh;
  width: 100%;
  margin-bottom: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  font-size: 50px;
  background-color: rgba(38, 65, 65, 0.06);
}

.inputField::-webkit-input-placeholder{
  color: rgba(34, 58, 58, 0.18);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000000;
}

.button{
  font-family: Manteka, serif;
  font-size: 50px;
  background-color: #77c9c9;
  border: none;
  width: 100%;
  border-radius: 5px;
  color: #FFFFFF;
}
